div.bg {
    position: relative;
    width: 80%;
    height: 60%;
    left: 10%;
		top: 20%;
		border: 3px solid #73AD21;
}
#img-logo {
  position: absolute;
  z-index: 15;
  top: 10%;
  left: 35.5%;
}
#btn1 {
  position: absolute;
  z-index: 15;
  top: 70%;
  left: 25%;
}
#btn2 {
  position: absolute;
  z-index: 15;
  top: 70%;
  left: 35%;
}
#btn3 {
  position: absolute;
  z-index: 15;
  top: 70%;
  left: 49%;
}
#btn4 {
  position: absolute;
  z-index: 15;
  top: 70%;
  left: 62%;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
	#img-logo{
		width: 300px;
		height: 300px;
	}
	#btn1 {
    left: 19%;
  }
	#btn2 {
    left: 32%;
  }
	#btn3 {
    left: 50%;
  }
	#btn4 {
    left: 67%;
  }
}
div.img-logo{
	position: relative;
	left: 33.33%;
	width: 30%;
	height: 50%;
	border: 2px solid #73AD21;;
}
.btt-footer{
	margin-top: 460px;
  margin-left: auto;
  overflow: hidden;
}
body, html {
    height: 100%;
    overflow: hidden;
}
.btn-home{
   padding: 50px 100px;
   font-size: 116px;
}

#outPopUp {
  position: absolute;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px -120px;

}
#outPopUp2 {
  position: absolute;
  z-index: 15;
  top: 55%;
  left: 50%;
  margin: -60px -120px;

}

h1 .big{
  color: red;
}

img.sm {
  /* Set rules to fill background */
  min-height: 10%;
  min-width: 10px;

  /* Set up proportionate scaling */
  width: 24%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 20%;
  left: 37%;
}

img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}
