
.button--8{
  -webkit-font-smoothing: antialiased;
  background-color: #222;
  border: none;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.85em;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  letter-spacing: 0.1em;
  color: white;
  padding: 20px 40px;
  text-transform: uppercase;
  -webkit-transition: background-color 0.1s ease-out;
  -moz-transition: background-color 0.1s ease-out;
  transition: background-color 0.1s ease-out; }
  .button__bg:hover, .button--8:hover {
    background-color: #2CD892;
    color: #fff; }
  .button__bg:focus, .button--8:focus {
    outline: none;
    color: #fff; }

.safari .button, .safari
.button__bg {
  -webkit-filter: none !important;
  filter: none !important; }

.button--8 {
  position: relative;
  z-index: 1;
  outline: 10px solid #F6F6F6 !important;
  background: #F6F6F6;
  border: 2px solid #000;
  color: #000; }
  .button--8:focus {
    color: #222; }
  .button--8:hover {
    background: #F6F6F6;
    border-color: #2CD892;
    color: #2CD892; }


     .button--9 {
      -webkit-font-smoothing: antialiased;
      background-color: #222;
      border: none;
      display: inline-block;
      font-family: 'Montserrat', sans-serif;
      font-size: 0.85em;
      font-weight: 700;
      text-decoration: none;
      user-select: none;
      letter-spacing: 0.1em;
      color: white;
      padding: 20px 40px;
      text-transform: uppercase;
      -webkit-transition: background-color 0.1s ease-out;
      -moz-transition: background-color 0.1s ease-out;
      transition: background-color 0.1s ease-out; }
       .button--9:hover{
        background-color: #2CD892;
        color: #fff; }
      .button--9:focus{
        outline: none;
        color: #fff; }

    .safari .button, .safari
    .button__bg {
      -webkit-filter: none !important;
      filter: none !important; }


    .button--9 {
      -webkit-transition: all 0.45s ease-out;
      -moz-transition: all 0.45s ease-out;
      transition: all 0.45s ease-out;
      background-image: -webkit-radial-gradient(60% 20%, circle, #FF6023 0%, #DA305D);
      background-image: radial-gradient(  circle at 60% 20%, #FF6023 0%, #DA305D);
      box-shadow: 0 0 0 20px #f6f6f6;
      border-radius: 80px;
      color: #FFF;
      width: 80px;
      height: 80px;
      line-height: 80px;
      padding: 0; }
      .button--9:focus {
        color: #FFF; }
      .button--9:hover {
        background-image: -webkit-radial-gradient(60% 20%, circle, #FF6023 0%, #DA305D);
        background-image: radial-gradient(  circle at 60% 20%, #FF6023 0%, #DA305D);
        color: #FFF; }
